body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    margin: 0;
    background-color: #1D1D1D;
    color: #1D1D1D;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 900px;

}

h1 {
    font-size: 18pt;
    text-align: left;
}

p {
font-size: 12pt;
text-align: left;
}

.white {
    color:white;
}

.title-position {
    margin-bottom: px;
}

.studio-container 
{ 
    overflow-y: scroll;
    overflow-x: hidden;
}


.grid-container {
display: grid;
grid-template-rows: 1fr;
grid-template-columns: 15% 7.5% 35% 7.5% 35%;
gap: 10px;
}

.grid-item-name {
background-color: #CCFF00;
padding: 20px;
text-align: center;
grid-column: 1;
color: #1D1D1D;
}


.grid-item-studio-title {
    background-color: #1D1D1D;
    color: white;
    padding: 20px;
    text-align: center;
    grid-column: 2;
    }

.grid-item-studio {
    background-color: #1D1D1D;
    padding: 20px;
    text-align: center;
    grid-column: 3;
    color: white;
    padding-left: 30%;
    }


.grid-item-studio:hover {
    color: grey;
    }

.grid-item-lab-title {
    background-color: ;
    padding: 20px;
    text-align: center;
    grid-column: 4;
    background: white;
    background: white;
    color: #1D1D1D;
    color: #1D1D1D;
    height: 750px;

    }


    .grid-item-lab {
        background-color: white;
        padding: 20px;
        text-align: center;
        grid-column: 5;
        color: #1D1D1D;
        margin-left: -10px;
        height: 750px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-left: 30%;
        width: 1000px;
        }

.frame {
    width: 1200px;
    height: 600px;
    transform: scale(0.2);
    -webkit-transform-origin: 0 0;
    border: 1px #1D1D1D solid;
    margin-bottom: -475px;
    overflow: hidden; 
    background: white;
}

a {
    color: #1D1D1D;
    text-decoration: none;

}

a:hover {
    transition: .2s ease-in-out;
    opacity: 50%;
    text-decoration: none;
}

  
  .container {
    position: relative;
    width: 300px; /* adjust as needed */
    display: inline-block;
  }
  
  .container img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 500%;
    z-index: 2;
    transition: opacity 0.3s ease-in-out;
    border: 1px #1D1D1D solid;
  }
  
  .container:hover img {
    opacity: 1;
  }
  
  .container p {
    z-index: 1; /* ensures the text is on top of the image */
  }
  